
.heading{
    text-align: center;
    font-size: -webkit-xxx-large;
    margin-top:2%;
    font-family: fantasy;
    text-decoration: underline;
}

body{
    
    position: relative;
    overflow: visible;
    margin:0;
}
html{
    scroll-behavior: smooth;
}

/*-------------------------------------------------------*/

#first-section{
    background: url("back.jpg");
    background-repeat:no-repeat; 
    height:100vh;
    width:100vw;
    background-size:cover;
}


.navbar{
    overflow: hidden;

    font-family:Arial; 

}
.navbar label{
    margin:2% 10% 0 3%;
    font-size:300%;
    line-height: 1;
    display: none;
}
#toggle{
   display: none;
}

.navbar a{
    float:left;
    font-size:16px;
    color:white;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}

.dropdown{
    overflow: hidden;
    float:left;
}
.dropdown .dropbtn{ 
  font-size:16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  color: white;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 

}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color:lightgrey;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width:160px;
    z-index: 1;
  }
  .dropdown-menu a {
    float: none;
    color: black;
    padding:12px 14px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
.dropdown:hover .dropdown-menu{
    display: block;
}
.welcome-block{
    
    display: inline-block;
    margin:22% 0 0 15%;
    
    
}
.wb1, .wb2,  .wb3{
    font-size: -webkit-xxx-large;
    font-style:italic;
    color:#333333;
}
.w2{
    font-style: normal;
}

@media (max-width: 865px){
    #first-section{
        height:auto;
    }
    .dropbtn{
        display: none;
    }
    .nav-items{
        display:none;
    }
    .navbar label{
        display: block;
        cursor: pointer;
    }
   .dropdown-menu{
       display: block;
       background: none;
       border:none;
       color:white;
   }
    .nav-items a{
        color:black;
        float:none;
        text-align: left;
        display: block; 
    }
    #toggle:checked + .nav-items{
    display:block;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width:160px;
    z-index: 1;
        
    }
   
}

@media (max-width:456px){
    #first-section{
        height: 100vh;;
    }
}



/*--------------------------------------------------------------------*/


#second-section{
    margin-top:8%;
    overflow:hidden;
}

.aboutme{
    float: left;
    font-size:xx-large;
    line-height: 1.7;
    text-align: center;
    font-family: monospace;
    width: 40%;
    margin-left: 3.5%;
    margin-top:3%;
}
.skills{
    margin-top:3%;
    margin-right:5.5%;
    float:right;
}
.skill-bar{
   height:24px;
    width: 424px;
    margin-top: 1%;
    
     background-color:lightgrey;
}
.progress{
    /*height: 24px;*/
    /*width: 95%;*/
    background-color: black;
    
}
.each-skill{
    margin-top:5%;
}
.skill-value{
    float:right;
}


@media (max-width:865px){
    .aboutme{
      float:none;
      width:100%;
    }
    .skills{
      float:none;
      margin-left:5%;
    }
    .skill-bar{
      width:100%
    }
    .aboutme{
        text-align: left;
    }
    .skill-value{
  
    }
  
  }
  @media (max-width:456px){
      .aboutme{
          font-size:x-large;
      }
  }
  .dot-box{
    text-align: center;
    
  }
  

/*----------------------------------------------------------------*/
#third-section{
    margin-top:8%;
    
}
.service-wrap{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 8%;
    margin-right: 7%;
    margin-left: 7%;


    
}
.service-box{
    margin:15% 0 10% 20%;    
}

.service-name{
    color:#999;
    font-size: 25px;

}
.service-desc{
color:#666;
margin-top:6%;
}


@media (max-width: 865px){
    .service-wrap{
      grid-template-columns:auto auto;
    }
  
  }
  @media (max-width:456px){
    .service-wrap{
      display:block;
      margin:0 0 3% 0;
    }
    .service-box{
      /*margin-left:3%;
      margin-top:4%;
      margin-bottom:6%;*/
      margin:4%; 
    }
  }



/*-------------------------------------------------------------------*/

#fourth-section{
margin-top:8%;
}
.exp-wrap{
margin-top:3%;
margin-left:4%;
}

.exp-box{
    margin-top:8%;
}
.exp-name-year{
background-color: black;
margin-right:2%;
width:17%;
text-align: center;
padding:3.5% 0 3.5% 0;

}
.exp-name-year-left{
    float:left;
}
.exp-name-year-right{
    float:right;
    }
.exp-name{
color:#999;
}
.exp-year{
color:#666;
}
.exp-desc{
color:#666;
overflow: auto;
margin-right:4%;
border-left: inset;
padding-left: 3%;
line-height: 1.5;

}


@media (max-width:456px){
    .exp-name-year{
      display:block;
      float:none;
      width:100%;
      
    }
    .exp-name-year-left{
      text-align:left;
      padding-left:2%;
    }
    .exp-name-year-right{
      text-align:right;
      padding-right:2%;
    }
    .exp-desc{
      margin-top:4%;
      text-align:justify;
    }
    
  }


/*-----------------------------------------------------------__----------*/


#fifth-section{
    background: url(tt.jpg);
    height:auto;
    margin-top:10%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ec-wrap{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2%;
    margin-right: 7%;
    margin-left: 7%;
    padding-bottom:3%;
}
.ec-year-desc{
border:double;
border-color:burlywood;
margin-top:10%;
font-size: 19px;
padding: 15%;
}

.ec-year{
    font-size: xx-large;
    color:blanchedalmond;
}
.ec-desc{
    margin-top:2%;
    color:cornsilk;
    font-weight:lighter;
}


@media (max-width: 865px){
    .ec-wrap{
      grid-template-columns:auto auto;
    }
  }

@media (max-width:456px){

    #fifth-section{
      height:auto;


    }
    .ec-wrap{
      grid-template-columns:auto;

    }
    .ec-year-desc{
      padding:2%;
    }
    .ec-year{
      text-align:center;
    }


  }

/*--------------------------------------------------------------*/
#sixth-section{
    margin-top:8%;


}
.project-wrap{
    margin-top:4%;
    margin-left:5%;
    margin-right:4%;

    line-height: 0;

    column-count:3;
    column-gap:4px;


}
.project-img{
  width: 100% ;
  height: auto ;
  margin-top:4px;
}


@media (max-width: 865px){
    .project-wrap{
      column-count: 2;
    }
  }
  

/*-------------------------------------------------*/
#seventh-section{
    background:url(https://demo.w3layouts.com/demos_new/template_demo/08-09-2018/personal_view_demo_Free/1709990507/web/images/blog.jpg);
    margin-top:8%;
    height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.testi-wrap{

}
.testi-image-name-desc{
display: flex;
text-align: center;
    width: 60%;
    margin-left: 16%;
    margin-top:5%;
}
.testi-image{
    border-radius: 50%;
    margin-right:4%;
    height:170px;
    width:170px;
    float:left;
}

.testi-name-desc{
color:white;

}
.testi-name{
font-size:xx-large;
}
q:before{
    content:open-quote;
}
q:after{
    content:close-quote;
}
.testi-desc{
    margin-top:2%;
    line-height:2;
    font-family: cursive;
    display: flex;

}

/********** carousal***********************************/
.slideshow-container {
    
    position: relative;
    margin: auto;
  }
  .mySlides {
    display: none;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 4% 1%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    text-align: center;
    cursor: pointer;
  }

/*******************************************************/

  @media (max-width:865px){
    
    .testi-name-desc{
      overflow:hidden;
      text-align:justify;
    }
}

    @media (max-width:456px){

        #seventh-section{
            height:auto;
        }
        .testi-image-name-desc{
          margin-top:0%
        }
  
        .testi-image{
          height:120px;
          width:120px;
          float:none;
        }
        .testi-name{
          font-size:x-large;
        }
          
      }

/*--------------------------------------------------------------------------*/


#eighth-section{
    margin-top:8%;
    overflow:hidden;
}

.my-info{
    
    margin-left: 10%;
    margin-top: 6%;
    float:left;
}
.address-info{
    font-size: 40px;
}
.my-email{
font-size:25px;
margin-top:5%;
}
.my-phone{
    font-size:25px;
    margin-top:5%;
}
.downloadbtn{
    padding: 5% 2% 5% 2%;;
    border-radius: 30%;
    margin-top:5%;
    color:whitesmoke;
    background-color: #333333;
    margin-right: 2%;
    font-size:large;
    border:none;
    cursor: pointer;
}

.info{
font-size:23px;
margin-left:5%;
}
.fas{
    margin-right:3%;
}
.their-info{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    float:right;
    margin-top:6%;
    margin-right:3%;
    width:46%;
  }

input[type=text], textarea{
    display:block;
    padding: 12px;   
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    width:100%; 
   
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }

  @media (max-width: 865px){
    .my-info{
      float:none;
      text-align:left;
    }
    .their-info{
      float:none;
      margin-left:10%;
      width:80%;
    }
  }

  @media (max-width:456px){
    .their-info{
     margin-left:2%;
    }
    .my-info{
      margin-left:2%;
    }
  }

  
  /*-----------------------------------------------------------------*/

  #footer{
    background-color:black;
  }
  .footer-icon{
      text-align:center;
      color:white;
      padding:7%;
      font-size:xx-large;
  }
  .footer-icon i{
      margin:1%;
      color:white;
  }






  